html{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	text-align: center;
}

.header{
	margin-top: 50px;
}

#header-text{
	display: block;
	font-size: 22px;
}


.main{
	margin-top: 100px;
}



.select-menu{
	margin-top:50px;
}


select{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}


.number-select{
	margin-top: 15px;
}





.button-get-total{
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 50px;
}


.gpu-select-menu{
	display:inline-block;
}



.cpu-select-menu{
	margin-top: 30px;
	display:block;
}

.cpu-select{
	margin-top: 15px;
}

#cpu-out, #gpu-out, #total{
	margin-top: 25px;
	display: block;
}


.overall{
	margin-top: 30px;
	height: 100px;
	display:inline-block
}